{% extends 'dashboard.html' %}

{% block content %}
{% if messages %}
  <div class="alert-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="alert-alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    {% endfor %}
  </div>
{% endif %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">ALMACENES</h6>
        {% if user.is_superuser or user.rol == 'almacenero' %}
            <div class="d-flex">
                <a href={% url 'almacen_app:create_estante' %} class="btn btn-success ml-1" title="AÑADIR ESTANTE">
                    <i class="fas fa-plus"></i> <span class="ml-1">AÑADIR ESTANTE</span>
                </a>
                <a href={% url 'almacen_app:create_almacen' %} class="btn btn-warning ml-1" title="AÑADIR ALMACÉN">
                    <i class="fas fa-plus"></i> <span class="ml-1">AÑADIR</span>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for almacen in almacenes %}
                    <tr>
                        <td>{{almacen.nombre}}</td>
                        <td width="200px">
                            <form  method="POST" action="{% url 'almacen_app:delete_almacen' almacen_id=almacen.id %}" id="delete-almacen-form-{{ almacen.id }}">
                                {% csrf_token %}
                                    
                                    <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Detalles" href="{% url 'almacen_app:detalle_almacen' almacen_id=almacen.id %}"><i class="fa fa-eye" ></i></a>
                                    
                                    {% if user.is_superuser or user.rol == 'almacenero' %}
                                    <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                                    title="Editar Alamcen" href="{% url 'almacen_app:edit_almacen' almacen_id=almacen.id %}"><i class="fa fa-edit" ></i></a> 
    
                                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteAlmacenModal" onclick="setDeleteAlmacenId({{ almacen.id }})">
                                        <i class="fa fa-trash-alt"></i>
                                    </a>
                                    {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}